{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {
      width: 912px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('static/img/2.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
      color: #fff;
}
</style>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--1-tablet mdl-cell--1-phone"></div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--6-tablet mdl-cell--2-phone">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">How its done</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <h3>Technologies Used</h3>
                    <p><strong>Database:</strong> Sqlite </p>
                    <p><strong>Web Framework:</strong> Flask</p>
                    <p><strong>Front End Framework:</strong>Material Design Light & Bootstrap</p>
                    <p><strong>Table Sorting:</strong>Javascript</p>
                    <p><strong>Scraping Framework:</strong>Scrapy</p>
                    <p>All Functions has doc string to explain their working. & comments provided where necessary</p> 
                </div>
                <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                    </button>
                </div>
            </div>
        </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--1-tablet mdl-cell--1-phone"></div>
</div>


{% endblock %}
