{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}

{% if error %}
    <div style="background-color:white;" class="alert alert-block alert-error fade in mdl-dialog md-dialog__content">
        <a class="close " data-dismiss="alert" style="coloe:white;">&times;</a>
        {{ error }}
    </div>
{% endif %}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--1-tablet mdl-cell--1-phone"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-tablet mdl-cell--2-phone">
        <div class="mdl-card mdl-shadow--6dp mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-typography--text-center"               style="display:block;align:center;width:100%;">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h3 class="mdl-card__title-text center">LYF Dashboard</h3>
            </div>
            <div class="mdl-tabs__tab-bar">
                <a href="#login" class="mdl-tabs__tab is-active">Log in</a>
            </div>
            <div class="mdl-card__supporting-text mdl-tabs__panel is-active" id="login">
            <form  method="post" class="form">
            {{ form.csrf_token }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form.name(class_ = 'form-control mdl-textfield__input first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
                <label class="mdl-textfield__label" for="name">Username</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form.password(class_ = 'form-control mdl-textfield__input last-input', placeholder = form.password.label.text, required = true) }}
                <label class="mdl-textfield__label" for="myusername">Password.</label>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <center><button type="submit" class="mdl-button mdl-button--raised  mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Get Insights
                        </button>
                </center>
            </div>
            </form>
        </div>
    </div>
</div>


  
    <!--p class="pull-left"><a href="">Forgot Password?</a></p>
    <p class="pull-right"><a href="">Register</a></p>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" >
    <p>You must add database as well as Flask-Login to enable user management. See the <a href="http://www.realpython.com">Real Python</a> course for more info!</p>
  </form-->
{% endblock %}
