{% extends 'layouts/dashboard.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--1-tablet mdl-cell--1-phone"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-tablet mdl-cell--2-phone">
        <div class="mdl-card mdl-shadow--6dp mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-typography--text-center"               style="display:block;align:center;width:100%;">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                <h3 class="mdl-card__title-text center">Enter Order</h3>
            </div>
            <div class="mdl-card__supporting-text mdl-tabs__panel is-active" id="login">
            <form  method="post" class="form">
            {{ form.csrf_token }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 {{ form.order_id(class_ = 'form-control mdl-textfield__input first-input', placeholder = form.order_id.label.text, required = true, autofocus = true)  }}
                <label class="mdl-textfield__label" for="order_id">Order Id</label>
            </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form.order_status(class_ = 'form-control mdl-textfield__input', placeholder = form.order_status.label.text, required = true) }}
                <label class="mdl-textfield__label" for="order_status">Order Status</label>
            </div>
           
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.product_name(class_ = 'form-control mdl-textfield__input ', placeholder = form.product_name.label.text,     required = true) }}
                <label class="mdl-textfield__label" for="product_name">Product Name.</label>
            </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.product_url(class_ = 'form-control mdl-textfield__input ', placeholder = form.product_url.label.text,     required = true) }}
                <label class="mdl-textfield__label" for="product_url">Product Url</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form.cost_price(class_ = 'form-control mdl-textfield__input last-input', placeholder = form.cost_price.label.text,required = true) }}
                <label class="mdl-textfield__label" for="cost_price">Product Price</label>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <center><button type="submit" class="mdl-button mdl-button--raised  mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Submit Details
                        </button>
                </center>
            </div>
            </form>
        </div>
    </div>
</div>


  
    <!--p class="pull-left"><a href="">Forgot Password?</a></p>
    <p class="pull-right"><a href="">Register</a></p>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" >
    <p>You must add database as well as Flask-Login to enable user management. See the <a href="http://www.realpython.com">Real Python</a> course for more info!</p>
  </form-->
{% endblock %}
