{% extends 'layouts/dashboard.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<br/>    
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-tablet mdl-cell--1-phone"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--6-tablet mdl-cell--2-phone">
            <div class=" table-responsive mdl-card mdl-shadow--6dp mdl-tabs mdl-js-tabs mdl-js-ripple-effect mdl-typography--text-center" style="display:block;align:center;width:100%;">

    <table id = "caltbl" class="table table-bordered table-hover">
        <thead>
            <th onclick="sortTable('oid');"><a>Order ID</a></th>
            <th>Product Name</th>
            <th onclick="sortTable('ostatus');"><a>Order Status</a></th>
            <th>Product URL</th>
            <th>Price</th>
        </thead>
        <tbody>
        
        {% for row_index in range(data['order_id']|count)  %}
            <tr>
                <td>{{ data['order_id'][row_index]}}</td>
                <td>{{ data['product_name'][row_index] }}</td>
                <td>{{ data['order_status'][row_index] }}</td>
                <td><a href={{data['product_url'][row_index]}}>{{ data['product_url'][row_index] }}</a></td>
                <td>&#8377;{{data['cost_price'][row_index]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>

  
    <script>
    

    function sortTable(sortby){
            var tbl = document.getElementById("caltbl").tBodies[0];
            var store = [];
            var nstore = [];
            for(var i=0, len=tbl.rows.length; i<len; i++){
                var row = tbl.rows[i];
                if(sortby==='oid'){
                    var sortnr = row.cells[0].textContent || row.cells[0].innerText;
                    sortnr = '"'+sortnr+'"';
                    var intSort = sortnr.split("-").join("");
                    if(intSort.length>=19)
                    {
                        sortnr = intSort.slice(1,18);
                    }
                    if(!isNaN(sortnr)) store.push([sortnr, row]);
                }else if(sortby==='ostatus'){
                    
                    var sortos = row.cells[2].textContent || row.cells[2].innerText;
                    if(sortos==='Active'){
                      store.push([sortos, row]);
                    }else{
                      nstore.push([sortos,row]);
                    }
                    store.push.apply(store, nstore);
                }
            }
            if(sortby==='oid'){
            store.sort(function(x,y){
                return x[0] - y[0];
            });
            }else{
                store = store.sort();
                console.log(store);
            }
            for(var i=0, len=store.length; i<len; i++){
            tbl.appendChild(store[i][1]);
            }
            store = null;
    }
    </script>
{% endblock %}
