{% extends 'layouts/dashboard.html' %}
{% block title %}Login{% endblock %}
{% block content %}
               
<form method="post">
<center>
        <button type="submit" class="mdl-button mdl-button--raised  mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            deploy Spider
        </button>&nbsp;
</center>
</form>
        <a href="/download" >
            <button  class="mdl-button mdl-button--raised  mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            deploy Spider
            </button>
        </a>

{% endblock %}
